# Relatório de Análise VI

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('csvfiles/aluguel_residencial.csv', sep = ';')

In [3]:
dados.head(18)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0

## Valor Bruto

In [4]:
dados ['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [5]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

## Metro Quadrado

In [6]:
dados ['Valor Metro²'] = (dados ['Valor'] / dados ['Area']).round(2)

In [7]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor Metro²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86

## Valor Bruto Metro Quadrado

In [10]:
dados ['Valor Bruto Metro²'] = (dados ['Valor Bruto'] / dados ['Area']).round(2)

## Excluindo As Variáveis

In [12]:
dados.drop(['Valor Bruto', 'Valor Bruto Metro²'], axis = 1, inplace = True)

In [13]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Metro²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00
...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86

## Tipaagem Geral dos Tipos de Residêncial

In [14]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [15]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [17]:
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Metro²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento

In [18]:
dados.to_csv('csvfiles/aluguel_residencial.csv', sep = ';', index = False)